<script type="text/template" id="pokemon-list-item-template">
    <li class="poke-list-item" data-id=<%%= pokemon.get("id")%> >
    name:
    <%%= pokemon.get("name") %>
    <br>
    poke_type:
    <%%= pokemon.get("poke_type") %>
    <br>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <%%= "<img src='" + pokemon.escape('image_url') + "'></img>" %>
    <%% for (var attr in pokemon.attributes) { %>
      <%% if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') { %>
        <span style="font-weight:bold;">
         <%%= attr %>
       </span>
        <%%= pokemon.get(attr) %>
        <br>
        <%% } %>
    <%% } %> 
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
</script>

<script type="text/template" id="toy-detail-template">
</script>