<script type="text/template" id="pokemon-list-item-template">
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <%%= "<img src='" + pokemon.escape('image_url') + "'></img>" %>
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
</script>

<script type="text/template" id="toy-detail-template">
</script>


  <!-- var $detail = $('<div class="detail">');
  // Show the image
  $detail.append('<img src="' + pokemon.get('image_url') + '"><br>');
  // Show the attributes
  for (var attr in pokemon.attributes) {
    if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') {
      $detail.append(
        '<span style="font-weight:bold;">' + attr + ':</span> ' +
          pokemon.get(attr) + '<br>'
      );
    }
  } -->